RewriteEngine On
RewriteRule ^(.*)/(.*)/(.*)/(.*)$ index.php?a=$1&b=$2&c=$3&d=$4 [QSA]
RewriteRule ^(.*)/(.*)/(.*)$ index.php?a=$1&b=$2&c=$3 [QSA]
RewriteRule ^(.*)/(.*)$ index.php?a=$1&b=$2 [QSA]
RewriteRule ^(.*)$ index.php?a=$1 [QSA]